Portfolio-main/Portfolio-main/.next/app-build-manifest.json
Portfolio-main/Portfolio-main/.next/build-manifest.json
Portfolio-main/Portfolio-main/.next/build/chunks/\[root of the server\]__05f88b._.js
Portfolio-main/Portfolio-main/.next/build/chunks/\[root of the server\]__05f88b._.js.map
/Portfolio-main/Portfolio-main/.next/build/chunks
/Portfolio-main/Portfolio-main/.next/cache
/Portfolio-main/Portfolio-main/.next
/Portfolio-main/Portfolio-main/node_modules/.bin
/Portfolio-main/Portfolio-main/node_modules
